<ion-header translucent>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb href="/home">
        Home
      </ion-breadcrumb>
      <ion-breadcrumb href="/contact">
        Contact
      </ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="tituloContact"></div>
  <ion-card>
      <ion-card-header>
      <ion-card-subtitle>Sigueme en mis Redes Sociales</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <section>
        <ion-button size="large" color="medium" href="https://www.linkedin.com/in/haforever/" target="_blank"><ion-icon name="logo-linkedin" slot="start">></ion-icon>haforever</ion-button>
        <ion-button size="large" color="medium" href="https://www.instagram.com/haforever.studio/" target="_blank"><ion-icon name="logo-instagram" slot="start">></ion-icon>haforever.studio</ion-button>
        <ion-button size="large" color="medium" href="https://www.youtube.com/channel/UCwy5z__GCBLh4FAvp7KRh9g" target="_blank"><ion-icon name="logo-youtube" slot="start">></ion-icon>haforever</ion-button>
      </section>
    </ion-card-content>
  </ion-card>

  <ion-button color="medium" expand="block" size="small" href="/contact#tituloContact"> Volver Arriba </ion-button>


</ion-content>
