<ion-header translucent>
  <ion-toolbar>
    <ion-title>Bio</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb href="/home">
        Home
      </ion-breadcrumb>
      <ion-breadcrumb href="/bio">
        Bio
      </ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<div id="tituloBio"></div>
  <ion-card>
    <img src="./assets/pic.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Multimedia Producer</ion-card-subtitle>
      <ion-card-title> Andres Fonseca</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Profesional experto en produccion de multimedia y audiovisual
    </ion-card-content>
    <ion-card-content>
      Estudios: Master en disenio y produccion multimedia (UNIR - 2022)
    </ion-card-content>
  </ion-card>

  <ion-button color="medium" expand="block" size="small" href="/bio#tituloBio"> Volver Arriba </ion-button>


</ion-content>
